<p>This is some content coming from our tab switcher component</p>

{{#each tabItems as |tabItem|}}
    {{tab-item item=tabItem setSelectedTabItemAction="setSelectedTabItem"}}
{{/each}}

<div class="item-content">
    {{selectedTabItem.content}}
</div>